<!DOCTYPE html>
<html>

<head>
    <title>about</title>
      <link rel='icon' href="./images//weather.png">
    <link rel="stylesheet" href="./Css/style.css">
</head>

<body>
    <div class="main-content">
  {{>header}}
  <p> this site was created by kapil verma. it uses data from mapboc.com and darksky.net</p>
    <img src="./images//download.jpg">
    </div>
  
    {{>footer}}
    
</body>

</html>